/*
Lumino Admin Bootstrap Template
Version 1.0
*/
body {
    margin: 0;
    padding: 0;
    background:#eee;
    font-family: roboto;


}


/*menus start*/
	.menuIcons ul.navi .active a, .menuIcons ul.navi li.parent a.active, .menuIcons ul.navi .active > a:hover, .menuIcons ul.navi li.parent a.active:hover, .menuIcons ul.navi .active > a:focus, .menuIcons ul.navi li.parent a.active:focus {
	    background: #f4f8fb !important;
	    border-left: 4px solid #5fbeaa;
	    color: #5fbeaa !important;
	}

	.sliding-menu {
	    position: relative;
	    overflow: hidden;
	    background: rgba(255, 255, 255, 0.5)
	}
	.sliding-menu-panel {
	    position: absolute;
	    top: 0;
	    left: 100%;
	    width: 100%
	}
	.sliding-menu li {
	    padding: 0;
	    margin: 0;
	    list-style: none
	}
	.sliding-menu li a {
	    color: #36404a;
	    display: block;
	    padding: 16px 12px;
	    border-left: 4px solid #ffffff;
	    vertical-align: middle;
	    font-weight: normal;
	    letter-spacing: 0.4px;
	    cursor: pointer;
	    overflow: hidden;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	    -webkit-tap-highlight-color: transparent;
	    vertical-align: middle;
	    z-index: 1;
	    will-change: opacity, transform;
	    -webkit-transition: all 0.3s ease-out;
	    -moz-transition: all 0.3s ease-out;
	    -o-transition: all 0.3s ease-out;
	    -ms-transition: all 0.3s ease-out;
	    transition: all 0.3s ease-out;    
	}
	.sliding-menu li a:hover {
	    background: #f4f8fb !important;
	    border-left: 4px solid #5fbeaa;
	    color: #5fbeaa !important;
	}
	.sliding-menu .active a {
	    background: #f4f8fb !important;
	    border-left: 4px solid #5fbeaa;
	    color: #5fbeaa !important;
	}
	.sliding-menu .sliding-menu-nav:before {
	    float: right;
	    margin-left: 1em;
	    content: "\3009"

	}
	.sliding-menu .sliding-menu-back {
		color: #fff;
	    background: #58bea7;
	}
	.sliding-menu .sliding-menu-back:before {
	    float: left;
	    content: "\3008";
	    margin-left: 0px;
	    margin-right: 21px;
	}
	.sliding-menu .sliding-menu-icon {
	    display: inline-block;
	    font-size: 16px;
	    line-height: 17px;
	    margin-left: 3px;
	    margin-right: 14px;
	    text-align: center;
/*	    vertical-align: middle;*/
	    width: 20px;
	    margin-left: 0px !important;
	}
	.sliding-menu .sliding-menu-separator {
	    margin: .4em 1em;
	    border-top: 2px solid #555
	}
	.labels a{
	color: black;
	font-size: 50px;

	}
	.labels a:hover{
	color: black;
	font-size: 50px;

	}
/*menus end*/

.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
        background-color: rgba(158, 158, 158, 0.11);
}
.n-b ul{
	padding-left: 0px;
}
.module-text p{
	 color: #c5c5c5 !important;
    font-size: 27px;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 35px;
}
.ad-nav{
	color: #3bb398;
    font-size: 18px;
    letter-spacing: 0.6px;
    margin-bottom: 0px;
}
.ad-sel{
	font-size: 13px;
    padding-top: 0px;
    margin-top: 0px;
}

.full-bg{
    background: url(../img/bg.jpg) no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.nav-dropdown li a{
	line-height: 17px !important;
    padding-left: 38px !important;
    margin: 0px !important;
}
.log-de{
    background: rgb(255, 255, 255);
    border-radius: 4px;
    padding: 95px 50px;
border: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: 0px 0px 25px 0px rgba(21, 21, 21, 0.38);
}

a:hover,
a:focus {
    text-decoration: none;
    color: #eee;
}



.grp {
    position: relative;
    margin-bottom: 45px;
}
.grp input {
    font-size: 18px;
    padding: 10px 10px 10px 10px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: none;
    color: #000;
}
.grp input:focus {
    outline: none;
}
/* LABEL ======================================= */

.grp label {
    color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 5px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
/* active durum */

.grp input:focus ~ label,
input:valid ~ label {
    top: -20px;
    font-size: 14px;
color: rgba(0, 0, 0, 0.7);
}
/* BOTTOM BARS ================================= */

.bar {
    position: relative;
    display: block;
    width: 100%;
}
.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
.bar:before {
    left: 50%;
}
.bar:after {
    right: 50%;
}
/* active durum bar */

.grp input:focus ~ .bar:before,
.grp input:focus ~ .bar:after {
    width: 50%;
}


.grp input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

.input-ikon {
    font-size: 22px!important;
    position: relative;
}
.input-sifre-ikon {
    font-size: 22px!important;
    position: relative;
}
.span-input {
    margin-left: 12px;
    position: relative;
    top: 0px;
}
.giris-yap-buton,
.kayit-ol-buton,
.sifre-hatirlat-buton {
    background: #2eb79a;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border-radius: 3px;
    outline: none;
    opacity: 0.8;
}
a.giris-yap-buton:hover{
    color: #fff;
}
a.giris-yap-buton:focus{
    color: #fff;
}
.forgot-and-create {
    margin: 20px 0px;
}
.forgot-and-create a {
    color: #000;
    font-size: 12px;
    text-decoration: none;
    margin-right: 10px;
}
.login-b{
	    font-size: 18px;
    font-variant: small-caps;
}

/*end login page */
/*form*/
.half-panel-heading{
    font-weight: 300;
    letter-spacing: 0.025em;
    padding-left: 0px;
    line-height: 38px;
}
#side-btn a {
    position: fixed;
    transition: 1.3s;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    background-color: #93a5a7;
    color: white;
    border-radius: 5px 0px 0px 5px;
    text-align: right;
    z-index: 1000;
}

#side-btn a:hover {
    right: 0!important;
    background-color: #42c9bc;
}
#side-btn a.detail:hover{
    background-color: #00b2bf;
}
#side-btn a.personal:hover{
    background-color: #0085b7;
}
#side-btn a.contact:hover{
    background-color: #fe8126;
}
#side-btn a.project:hover{
    background-color: #ff414e;
}
#side-btn a.Academic:hover{
    background-color: #eb37a0;
}
#side-btn a.Favorites:hover{
    background-color: #42c9bd;
}
#side-btn a.fee:hover{
    background-color: #00b2bf;
}
#side-btn a.pre-fee:hover{
    background-color: #0085b7;
}
#side-btn a.student-ledge:hover{
    background-color: #fe8126;
}
#side-btn a.print-re:hover{
    background-color: #ff414e;
}
.fee{
    top: 120px;
    width: 181px !important;
    right: -121px;     
}
.pre-fee {
    top: 180px;
    right: -134px !important;
    width: 195px !important;
}
.student-ledge {
    top: 240px;
    width: 216px !important;
    right: -155px !important;
}
.print-re {
    top: 300px;
    width: 190px !important;
    right: -129px !important;
}
.detail {
    top: 120px;
    width: 295px !important;
    right: -238px; 
}
.personal {
    top: 180px;
    right: -157px !important;
    width: 215px !important;
}
.project {
    top: 240px;
    width: 191px !important;
    right: -134px !important;
}
.contact {
    top: 300px;
    width: 165px !important;
    right: -108px !important;
}
.Academic{
    top: 360px;
    width: 165px !important;
    right: -107px !important;
}
.Favorites{
    top: 420px;
    width: 218px !important;
    right: -161px !important;  
}
input[type='radio'] {
  -webkit-appearance:none;
  width:15px;
  height:15px;
  margin-left: -23px !important;  
  border-radius:50%;
  outline:none;
  box-shadow:0 0 5px 0px gray inset;
}
.file {
  visibility: hidden;
  position: absolute;
}

input[type='radio']:before {
content: '';
    display: block;
    width: 43%;
    height: 45%;
    margin: 27% auto;
    border-radius: 50%;  
}
input[type=file]:focus, input[type=checkbox]:focus, input[type=radio]:focus {
    outline: none;
    outline-offset: -2px;
}
input[type='radio']:checked:before {
  background:#6ac5b1;
}
.alert-success {
    color: #56bba5;
    background-color: rgba(106, 197, 177, 0.16);
    border-color: #eeeeee;
}
.alert-success .alert-link {
    color: #2ba288;
    text-decoration: underline;
}
.gly-ph{
	height: 40px !important;
    width: 40px !important;
    stroke-width: 2px !important;
}
.s-icon{
	background: none;
    border-radius: 0px;
    color: #6ac5b1;
    border: 1px solid rgba(54, 64, 74, 0.25);
    font-size: 17px;
}
.input-mr{
	margin-bottom: 20px;
    width: 100%;	
}

.button-de{
	width: 69%;
    border-radius: 1px;
    background: #6ac5b1 !important;
    border:1px solid #fff !important;
}
.input-de{
	border: 1px solid rgba(54, 64, 74, 0.2) !important;
	border-radius: 0px;
	padding: 4px 14px;
    height: 36px;
}
.input-de::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(85, 85, 85, 0.78);
  letter-spacing: 0.3px;
  font-weight: 400;
}
.input-de::-moz-placeholder { /* Firefox 19+ */
  color: rgba(85, 85, 85, 0.78);
  letter-spacing: 0.3px;
  font-weight: 400;
}
.input-de:-ms-input-placeholder { /* IE 10+ */
  color: rgba(85, 85, 85, 0.78);
  letter-spacing: 0.3px;
  font-weight: 400;
}
.input-de:-moz-placeholder { /* Firefox 18- */
  color: rgba(85, 85, 85, 0.78);
  letter-spacing: 0.3px;
  font-weight: 400;
}

.select-de option { color: #555;}

.select-de{
	color: rgba(85, 85, 85, 0.78);
  letter-spacing: 0.3px;
  font-weight: 400;
}
.help-block{
  font-size: 1.1rem;
  font-weight: normal;
  margin-top: -2px;
  margin-bottom: 0;
  color: #888;
}
/*table section start*/

td .red-col{
  color:rgba(255, 37, 0, 0.58);
      font-size: 18px;
}
td .green-col{
  color:rgba(77, 177, 71, 0.58);
   font-size: 16px;
}
td .blue-col{
    color:rgba(74, 140, 243, 0.68);
    font-size: 16px;
    margin: 0px 2px 0px 5px;
}
td a.red-col:hover{
   	color: rgba(255, 37, 0, 0.91);
   font-size: 18px;
   cursor: pointer;
}
td a.green-col:hover{
  	color:rgb(77, 177, 71);
   	font-size: 16px;
    cursor: pointer;

}
td a.blue-col:hover{
    color:rgb(74, 140, 243); 
    font-size: 16px;
    cursor: pointer;
    margin: 0px 2px 0px 5px;
}
/*input checkbox*/
/*input[type="checkbox"]{
  display:none;
}
input[type="checkbox"] + label{
  cursor:pointer;
}
input[type="checkbox"] + label:before{
    background: #fff;
    height: 21px;
    border:1px solid #6ac5b1;
    content: " ";
    display: inline-block;
    width: 21px;
    vertical-align: middle;
    margin-right: 10px;
  position:relative;
  top:-1px;
}
input[type="checkbox"]:checked + label:before{
    content: "\2713";
    color: #6ac5b1;
    font-size: 24px;
    text-align: center;
    line-height: 21px;
}*/
  .form-group input[type="checkbox"] {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;   
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;   
}
.checkbox-de{
    background: #fff !important;
    color: #56bba5 !important;
    border-radius: 50% !important;
    padding: 5px;
    border-color: #d6d9db !important;
}
.checkbox-de-icon{
     background: #fff !important;
    color: #56bba5 !important;
    border-radius: 50% !important;
    padding: 5px;
    border-color: #d6d9db !important;
    width: 20px;
    height: 20px;
}
.checkbox-icon{
    top: -6px;
    left: -6px;
    font-size: 10px;
}
.checkbox-field{
    width: 48%
}
.checkbox-parent-field{
    width: 50%;
    display: inline-block;
}
@media only screen and (min-width: 1196px;) {
/*     For desktop: */
    .chackbox-text {width: 100px;}

}
.chackbox-text{
    margin: 0px 10px 0px 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #7a7a7a;
    font-weight: 400;
    letter-spacing: 0.3px;
    width: 96px;

}
.checkbox-icon{
    border-radius: 50% !important;
    padding: 5px;
    border-color: #d6d9db !important;
}
/*table section end*/
/*form end */

.icon-pad{
	padding: 0px 0px;
    font-size: 20px;
    color: #adabab;

}
.icon-de{
    margin-right: 17px;
    font-size: 15px;
}
.nav>li>a:focus{
	    background: #f4f8fb !important;
    border-left: 4px solid #5fbeaa;
    color: #5fbeaa !important;
}
.nav-bar li{
	border: 0;
    font-weight: normal;
    line-height: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    text-decoration: none;
}
.nav-bar li a{
	color: #36404a;
    display: block;
    padding: 12px 20px;
    margin: 4px 0px;
    border-left: 3px solid #ffffff;
}
.nav-bar li a i{
	display: inline-block;
    font-size: 16px;
    line-height: 17px;
    margin-left: 3px;
    margin-right: 15px;
    text-align: center;
    vertical-align: middle;
    width: 20px;
    margin-left: 0px !important;
}
.nav-bar li a span{
	vertical-align: middle;
    font-weight: normal;
    letter-spacing: 0.4px;
}
.waves{
    cursor: pointer;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.body-bg{
	background: url(../img/bg1.jpg) no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}
.btn-de{
	background: rgba(0,0,0,0.1);
    border: 2px solid #d4d4d4;
    color: #d4d4d4;
    border-radius: 24px;
    padding: 6px 9px;
    font-size: 12px;
}    
div.div-hover a:hover{
	color: #fff;
	text-decoration: none;
}
.div-hover a:focus{
	color: #fff;
	text-decoration: none;
}
.nav-de{
	    color: #3bb398;
    font-size: 15px;
    letter-spacing: 0.6px;
}

/*Global Styles*/

body {
	background: #f1f4f7;
	padding-top: 50px;
	color: #5f6468;
}

p {
	color: #777;
}

a, a:hover, a:focus {
	color: #36404a;
}

h1, h2, h3, h4, h5, h6 {
	color: #5f6468;
}

h1 {
	font-weight: 300;
	font-size: 40px;
}

h2 {
	font-weight: 300;
	margin-bottom: 20px;
}

h3, h4 {
	font-weight: 300;
}

.large {
	font-size: 2em;
}

.text-muted {
	color: #9fadbb;
}

.color-gray { color: #5f6468; }
.color-blue { color: #30a5ff; }
.color-teal { color: #1ebfae; }
.color-orange { color: #ffb53e; }
.color-red { color: #f9243f; }

.bg-primary .glyphicon-remove { color: #5f6468;}
.bg-primary .glyphicon-remove:hover { color: #ef4040;}

.no-padding {
	padding: 0; margin: 0;
}

.glyphicon-xl {
	font-size: 6em;
}

.glyphicon-l {
	font-size: 3em;
}

.glyphicon-m {
	font-size: 1.5em;
}

.glyphicon-s {
	font-size: 0.75em;
}

.form-control {
	border: 1px solid #eee;
	box-shadow: none;
}

.form-control:focus {
	border: 1px solid #30a5ff;
	outline: 0;
	box-shadow: inset 0px 0px 0px 1px #fff;
}

.navbar-header .navbar-brand {
    color: #fff;
    font-size: 16px;
    letter-spacing: 1.1px;
    text-transform: capitalize;
    font-weight: lighter;
}

.navbar-header .navbar-brand span {
	color: #30a5ff;
}

/*Buttons*/

a.btn:hover,
button:hover {
	opacity: 0.8;
}

a.btn:active,
button:active {
	box-shadow: inset 0px 0px 500px rgba(0,0,0,.1);
	opacity: 1;
}

.btn-default,
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default,
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
	background-color: #e9ecf2;
	border-color: #e9ecf2;
	color: #1b3548;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary,
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
	background-color: #6ac5b1;
	border-color: #6ac5b1 !important;
}

.btn-success,
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success,
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
	background-color: #8ad919;
	border-color: #8ad919;
}

.btn-warning,
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning,
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
	background-color: #ffb53e;
	border-color: #ffb53e;
}

.btn-danger,
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger,
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
	background-color: #f9243f;
	border-color: #f9243f;
}

/*Backgrounds*/
/*
.bg-primary {
	color: #1b3548;
	background-color: #e9ecf2;
}
a.bg-primary:hover {
	background-color: #e9ecf2;
}
.bg-success {
	color: #fff;
	background-color: #8ad919;
}
a.bg-success:hover {
	background-color: #8ad919;
}
.bg-success a {
	color: rgba(255, 255, 255, .75);
}
.bg-info {
	color: #fff;
	background-color: #30a5ff;
}
a.bg-info:hover {
	background-color: #30a5ff;
}
.bg-info a {
	color: rgba(255, 255, 255, .75);
}
.bg-warning {
	color: #fff;
	background-color: #ffb53e;
}
a.bg-warning:hover {
	background-color: #ffb53e;
}
.bg-warning a {
	color: rgba(255, 255, 255, .75);
}
.bg-danger {
	color: #fff;
	background-color: #f9243f;
}
a.bg-danger:hover {
	background-color: #f9243f;
}
.bg-danger a {
	color: rgba(255, 255, 255, .75);
}*/

/*Panels*/

.panel {
	border: 0;
}

.panel-heading {
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 0.025em;
	height: 66px;
	line-height: 45px;
}

.panel-default .panel-heading {
	background: #fff;
	border-bottom: 1px solid #eee;
	color: #5f6468;
}

.panel-footer {
	background: #fff;
	border-top: 1px solid #eee;
}

.panel-widget {
	padding: 0;
	position: relative;
}

.panel-widget .panel-footer {
	border: 0;
	text-align: center;
}

.panel-footer .input-group {
	padding: 0px;
	margin: 0 -5px;
}

.panel-footer .input-group-btn:last-child>.btn, 
.panel-footer .input-group-btn:last-child>.btn-group {
	margin: 0;
}

.panel-widget .panel-footer a {
	color: #999;
}

.panel-widget .panel-footer a:hover {
	color: #666;
	text-decoration: none;
}

.panel-blue { background: #30a5ff; color: #fff; }
.panel-teal { background: #1ebfae; color: #fff; }
.panel-orange { background: #ffb53e; color: #fff; }
.panel-red { background: #f9243f; color: #fff; }

.panel-blue .panel-body p,
.panel-teal .panel-body p,
.panel-orange .panel-body p,
.panel-red .panel-body p { 
	color: #fff; 
	color: rgba(255, 255, 255, .8);
}

.panel-blue .panel-heading,
.panel-teal .panel-heading,
.panel-orange .panel-heading,
.panel-red .panel-heading {
	border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.panel-blue .text-muted,
.panel-teal .text-muted,
.panel-orange .text-muted,
.panel-red .text-muted { 
	color: rgba(255, 255, 255, .5); 
}

.dark-overlay {
	background: rgba(0, 0, 0, .05);
	text-align: center;
}

.widget-left {
	height: 80px;
	padding-top: 15px;
	text-align: center;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.widget-right {
	text-align: left;
	line-height: 1.6em;
	margin: 0px;
	padding: 20px;
	height: 80px;
	color: #999;
	font-weight: 300;
	background: #fff;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

@media (max-width: 768px) {
	.widget-right {
	width: 100%;
	margin: 0;
	text-align: center;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	}
}

@media (max-width: 768px) {
	.widget-left {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	}
}

.widget-right .text-muted {
	color: #9fadbb;
}
.widget-right .large {
	color: #5f6468;
}

.panel-blue .widget-left { background: #30a5ff; color: #fff; }
.panel-teal .widget-left { background: #1ebfae; color: #fff; }
.panel-orange .widget-left { background: #ffb53e; color: #fff; }
.panel-red .widget-left { background: #f9243f; color: #fff; }

.panel-widget {
	background: #fff;
}

/*Jumbotron*/

/*.jumbotron {
	background: #fff;
	border-bottom: 1px solid #eee;
	color: #5f6468;
}*/

/*Tabs*/

/*.panel .tabs {
	margin: 0;
	padding: 0;
}

.nav-tabs {
	background: #e9ecf2;
	border: 0;
}

.nav-tabs li a:hover {
	background: #fff;
}

.nav-tabs li a,
.nav-tabs li a:hover,
.nav-tabs li.active a,
.nav-tabs li.active a:hover {
	border: 0;
	padding: 15px 20px;
}

.nav-pills {
	padding: 15px;
	padding-bottom: 0;
}

.nav-pills li a,
.nav-pills li a:hover,
.nav-pills li.active a,
.nav-pills li.active a:hover {
	border: 0;
	padding: 7px 15px;
}

.nav-pills li.active a,
.nav-pills li.active a:hover {
	background: #30a5ff;
}*/

/*.tab-content {
	padding: 15px;
}*/


/*Navbar*/
.navbar-inverse .navbar-toggle {
    border-color: #d4d4d4;
    /* background: rgba(0,0,0,0.1); */
    border: 2px solid #d4d4d4;
     color: #d4d4d4; 
    /* border-radius: 4px; */
    /* padding: 6px 9px; */
    /* font-size: 12px; */
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 7px 7px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #36404a;
        border-color: #d4d4d4;
        color: #fff;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #d4d4d4;
}

/*.navbar {
	border: 0;
}

.navbar input {
	border: 0;
	background: #444;
	color: #fff;
}

.navbar input:focus {
	color: #fff;
	background: #555;
	border: 1px solid #30a5ff;
	outline: 0;
	box-shadow: inset 0px 0px 0px 1px #30a5ff;
}

.user-menu {
	display: inline-block;
	margin-top: 14px;
	margin-right: 10px;
	float: right;
	list-style: none;
	padding: 0;
}

.user-menu a {
	color: #fff;
}

.user-menu a:hover, .user-menu a:focus {
	text-decoration: none;
}*/

/* Sidebar */

.sidebar {
	display: block;
	background-color: #fff;
	padding: 0;
	display: none;
}

.sidebar form {
	padding: 20px 15px 5px 15px;
	border-bottom: 1px solid #eee;
	margin-bottom: 20px;
}

@media (min-width: 768px) {
	.sidebar {
		display: block;
  		position: fixed;
		top: 50px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		margin: 0;
		padding: 0;
		overflow-x: hidden;
		overflow-y: auto; 
		background-color: #fff;
		box-shadow: 1px 0px 10px rgba(0, 0, 0, .05);
	}
	.navbar-header {
		width: 100%;
	}
}

.sidebar ul.nav a:hover, 
.sidebar ul.nav li.parent ul li a:hover {
    text-decoration: none;
    color: #5fbeaa !important;
    background: none;
}

.sidebar ul.nav .active a, .sidebar ul.nav li.parent a.active,
.sidebar ul.nav .active > a:hover, .sidebar ul.nav li.parent a.active:hover,
.sidebar ul.nav .active > a:focus, .sidebar ul.nav li.parent a.active:focus {
    background: #f4f8fb !important;
    border-left: 4px solid #5fbeaa;
    color: #5fbeaa !important;
}*/

.sidebar ul.nav ul,
.sidebar ul.nav ul li {
	list-style: none;
	list-style-type: none;
}

.sidebar ul.nav ul.children {
	width: auto;
	padding: 0;
	margin: 0;
	background: #f9f9f9;
}

.sidebar ul.nav ul.children li a {
	height: 40px;
	background: #f9f9f9;
    color: #7a8590!important;
}

.sidebar ul.nav li.current a {
	background-color: #30a5ff;
	color: #fff!important;
}

.sidebar ul.nav li.parent ul li a {
	border: none;
	display:block;
    padding-left: 41px;
    line-height: 40px;
    text-decoration: none;    
}


.sidebar span.glyphicon {
	margin-right: 10px;
}

.sidebar ul.nav li.divider {
	border-bottom: 1px solid #eee;
	margin: 20px 0;
}

.sidebar .attribution {
	position: absolute;
	bottom: 0px;
	width: 100%;
	padding: 15px;
	text-align: center;
	border-top: 1px solid #eee;
	font-size: 12px;
}

/*Breadcrumbs*/

/*.breadcrumb {
	border-radius: 0;
	padding: 10px 15px;
	background: #e9ecf2;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	margin: 0 ;
}

h4.page-header {
	margin-top: 30px;
	border-bottom: 0;
}*/

/*Charts*/

.main-chart {
	background: #fff;
}

.easypiechart-panel {
	text-align: center;
	padding: 1px 0;
	margin-bottom: 20px;
}

.placeholder h2 {
	margin-bottom: 0px;
}

.donut {
	width: 100%;
}

.easypiechart {
	position: relative;
	text-align: center;
	width: 120px;
	height: 120px;
	margin: 20px auto 10px auto;
}

.easypiechart .percent {
	display: block;
	position: absolute;
	font-size: 26px;
	top: 38px;
	width: 120px;
}

#easypiechart-blue .percent { color: #30a5ff;}
#easypiechart-teal .percent { color: #1ebfae;}
#easypiechart-orange .percent { color: #ffb53e;}
#easypiechart-red .percent { color: #ef4040;}

/*Calendar Widget*/
/*
#calendar, .datepicker-inline {
	width: 100%;
}

#calendar table {
	width: 100%;
}

.datepicker table tr td.old,
.datepicker table tr td.new {
	color: rgba(255, 255, 255, .50);
}

.datepicker table tr td.active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active:focus,
.datepicker table tr td.active:hover:focus,
.datepicker table tr td.active.disabled:focus,
.datepicker table tr td.active.disabled:hover:focus,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active,
.open .dropdown-toggle.datepicker table tr td.active,
.open .dropdown-toggle.datepicker table tr td.active:hover,
.open .dropdown-toggle.datepicker table tr td.active.disabled,
.open .dropdown-toggle.datepicker table tr td.active.disabled:hover {
	color: #ffffff;
	background-color: rgba(0, 0, 0, .5);
	border-color: #285e8e;
}

.datepicker table tr td span:hover,
.datepicker thead tr:first-child th:hover,
.datepicker tfoot tr th:hover,
.datepicker table tr td.day:hover,
.datepicker table tr td.day.focused {
	background: rgba(0, 0, 0, 0.25);
}

.panel-heading .glyphicon {
	margin-right: 10px;
}
*/
/*Todo List Widget*/
/*
.todo-list-item .glyphicon { 
	margin-right:5px; 
	color: #9fadbb; 
}

.todo-list-item .glyphicon:hover { 
	margin-right:5px; 
	color: #1b3548; 
}

.todo-list { 
	padding: 0;
	margin: -15px;
	background: #fff;
	color: #5f6468;
}

#checkbox {
	margin: 0;
}

.todo-list .checkbox { 
	display:inline-block; 
	margin: 0px;
}

.panel-body input[type=checkbox]:checked + label { 
	text-decoration: line-through;
	color: #777; 
}

.todo-list-item {
	list-style: none;
	line-height: 0.9;
	padding: 14px 15px 8px 15px;
}

.todo-list-item:hover, a.todo-list-item:focus {
	text-decoration: none;
	background-color: #f6f6f6;
}

.todo-list-item .trash .glyph:hover {
	color: #ef4040;
}*/


/*Chat Widget*/
/*
.chat ul {
	list-style: none;
	margin: -15px;
	padding: 15px;
}

.chat ul li {
	margin-bottom: 10px;
	padding: 15px 5px;
	border-bottom: 1px solid #eee;
}

.chat ul li.left .chat-body { margin-left: 100px;}
.chat ul li.right .chat-body { margin-right: 100px;}

.chat ul li .chat-body p {
	margin: 0;
}

.chat ul .glyphicon {
	margin-right: 5px;
}

.chat .panel-body {
	overflow-y: scroll;
	height: 300px;
}

.chat-body small {
	margin-left: 5px;
}*/

/*Tables*/
/*.table {
	background: #fff;
}

.fixed-table-container {
	border: 1px solid #eee;
}

.fixed-table-container thead th {
	background: #f7f7f8;
	border-color: #ddd;
	color: #5f6468;
	font-weight: 300;
	font-size: 16px;
}

.fixed-table-container tbody td {
	border: 1px solid #eee;
}

.fixed-table-container tbody td:last-child {
	border-right: none;
}

.table>thead>tr>th {
	border-bottom: 1px solid #e6e7e8;
	vertical-align: middle;
	height: 50px;
}

.fixed-table-pagination .pagination {
    margin-top: 10px;
    margin-bottom: 0px;
}
.fixed-table-pagination .pagination-detail {
	margin-top: 20px;
}*/

/*Icons*/

/*
.sidebar .glyph, .user-menu .glyph {
	height: 16px;
	width: 16px;
	margin: 0 10px 0 0;
	stroke-width: 3px;
}

.user-menu .glyph {
	stroke-width: 4px;
}

.breadcrumb .glyph {
	height: 14px;
	width: 14px;
	margin: -2px 0 0 0;
	stroke-width: 4px;
}

.alert .glyph, .panel-heading .glyph {
	width: 26px;
	height: 26px;
	margin: 0 10px 0 0;
	stroke-width: 2px;
}

.panel-widget .glyph {
	stroke-width: 2px;
}

.todo-list .glyph {
	width: 14px;
	height: 14px;
	stroke-width: 4px;
	color: #999;
}

.glyph.table {
	background: none;
	border: none;
}*/

/*Icon Grid*/
/*
.icon-grid div {
	border: 1px solid #ddd;
	margin: 0 0 -1px -1px;
	text-align: center;
	padding: 10px 0 20px 0;
}

.icon-grid svg {
	width: 35%;
	display: block;
	margin: 0 auto;
}

.icon-grid h4 {
	display: none;
}

.icon-grid pre {
	margin: 10px 10px -10px 10px;
	border-radius: 0;
	font-size: 10px;
	border-color: #ddd;
	height: 65px;
	overflow: scroll;
}*/









